@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

.topSection{
    width: 100%;
    height: 50vh;
    background-color: #2d66Bd;
    h2{
        font-size: 8rem;
        color:white;
        margin-left:45%;    
        }
    
    h4{
        font-size: 5rem;
        color:white;
        margin-left: 25%;
    }

}

.topNav{
    width: 100%;
    border: solid 1px black;
    height: 10vh;
}

.contentContainer{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.contentHeading{
    padding-top: 1%;
    padding-left: 3%;
    font-size: 8rem;
    color:white;
    text-decoration: underline;
    width: 70%;
    display:inline-block;
}

.aLink{
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
}

.aLinkLeft{
    padding-left: 3%;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    }


.contentNavigator{
}

.iconRound{
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    background-color: rgba(40,40,40,0.4);
    display:inline-grid;
}

.iconContainer{
    width: 15%;
    height: auto;
    float: right;
    margin-right: 1%;
    margin-top: 7.5%;
    
    display:inline-block
}

.icon{
    font-size: 2rem;
    color: white;
    justify-self: center;
    align-self: center;
}


.iconRoundLeft{
    display: grid;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    background-color: rgba(40,40,40,0.4);
    float:left;
    margin-top: 5%;
    margin-left: 2%;
}

.iconRoundRight{
    display: grid;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    background-color: rgba(40,40,40,0.4);
    float:right;
    margin-top: 5%;
    margin-right: 2%;
}

.labelContainer{

}

.modal{
    position: relative;
    width: 5vw;
    height: 6vw;
    background-color: red;
}

.labelLeft{
    font-size: 1rem;
    display:inline-block;
    float:left;
}

.labelRight{
    font-size: 1rem;
    display: inline-block;
    float:right;
}

.topIcons{

    }

.bottomSection{
display: grid;
justify-content: center;
}

.bottomRange{
    width: 50vw;
    height: 5vh;
    margin-top: 15%;
}

.bottomButton{

    width: 25vw;
    height: 5vh;
    background-color: white;
    color:black;
    margin:auto;
    font-size: 1.4rem;
}