@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

.topSection{
    width: 100%;
    height: 50vh;
    background-color: #2d66Bd;
    h2{
        font-size: 8rem;
        color:white;
        margin-left:45%;    
        }
    
    h4{
        font-size: 5rem;
        color:white;
        margin-left: 25%;
    }

}

.topNav{
    width: 100%;
    height: 10vh;
}

.contentContainer{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.contentHeading{
    text-shadow: 1px 1px 2px black;
    padding-top: 1%;
    padding-left: 3%;
    font-size: 8rem;
    color:white;
    text-decoration: underline;
    width: 70%;
    display:inline-block;
}

.aLink{
    text-shadow: 1px 1px 2px black;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
}

.aLinkLeft{
    text-shadow: 1px 1px 2px black;
    padding-left: 3%;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    }


.contentNavigator{

}

.iconRound{
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    background-color: rgba(40,40,40,0.4);
    display:inline-grid;
    margin: 1%;
}

.iconRound:hover{
    background-color: darken($color: rgba(40,40,40,0.4), $amount: 25);

}

.iconContainer{
    width: 15%;
    height: auto;
    float: right;
    margin-right: 1.25%;
    margin-top: 7.5%;
    display:inline-block
}

.icon{
    font-size: 2rem;
    color: white;
    justify-self: center;
    align-self: center;
}

.cycleContainer{
    width: 100%;
    position: absolute;
    top: 25%;
}


.iconRoundLeft{
    display: inline-grid;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    background-color: rgba(40, 40, 40, 0.4);
    transform: translateX(5vw) translateY(25vh);

}

.iconRoundRight{
    display: inline-grid;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    background-color: rgba(40, 40, 40, 0.4);
    transform: translateX(90vw) translateY(25vh);
}

.labelContainer{

}

.modal{
    position: relative;
    width: 5vw;
    height: 6vw;
    background-color: red;
}

.labelLeft{
    font-size: 1rem;
    display:inline-block;
    float:left;
}

.labelRight{
    font-size: 1rem;
    display: inline-block;
    float:right;
}

.topIcons{

    }

.bottomSection{
display: grid;
justify-content: center;
}

.bottomRange{
    width: 50vw;
    height: 5vh;
    margin-top: 15%;
}

.bottomButton{
    width: 25vw;
    height: 5vh;
    background-color: white;
    color:black;
    margin:auto;
    font-size: 1.4rem;
    border-radius: 8px;
    border:solid 2px #2d66Bd;
    transition: all 0.4s ease;
}

.bottomButton:hover{
    border:solid 2px darken($color: #2d66Bd, $amount: 10);
    background-color:#fefefe;
}

.bottomButton:active{
    border:solid 2px lighten($color: #2d66Bd, $amount: 25);

}

.bottomButton:focus{
    outline: 0;
}