@keyframes fadein {from { opacity: 0; }};
@keyframes movein {from {transform: translateY(150%) translateX(-50%)}};

.container{
  position: relative;
  z-index: 0;
  overflow: hidden;
};

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  animation: fadeIn 240ms ease-out;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
};

.dialog{
  animation: fadein 0.45s ease alternate;
  animation: movein 0.45s ease alternate;
  //transition: all 0.5s ease;
  background: white;
  position: absolute;
  padding: 0.2vw;
  min-width: 10%;
  min-height: 10%;
  max-width: 25%;
  padding: 2.5%;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  z-index: 1;
};

