@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

.topSection{
    width: 100%;
    height: 50vh;
    background-color: #2d66Bd;
    h2{
        font-size: 8rem;
        color:white;
        margin-left:45%;    
        }
    
    h4{
        font-size: 5rem;
        color:white;
        margin-left: 25%;
    }

}

.topNav{
    width: 100%;
    height: 10vh;
}

.contentContainer{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.contentHeading{
    text-shadow: 2px 2px 3px black;
    padding-top: 1%;
    padding-left: 3%;
    font-size: 7.2rem;
    color:white;
    text-decoration: underline;
    width: 70%;
    display:inline-block;
}

.aLink{
    text-shadow: 2px 2px 3px black;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    display:inline;
    cursor: pointer;
}

.aLinkLeft{
    text-shadow: 2px 2px 3px black;
    padding-left: 3%;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    }

.iconRound{
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    background-color: rgba(40,40,40,0.4);
    display:inline-grid;
    margin: 1%;
    cursor: pointer;

}

.iconRound:hover{
    background-color: darken($color: rgba(40,40,40,0.4), $amount: 25);

}

.iconContainer{
    width: 15%;
    height: auto;
    float: right;
    margin-right: 1.25%;
    margin-top: 7.5%;
    display:inline-block
}

.icon{
    font-size: 2rem;
    color: white;
    justify-self: center;
    align-self: center;
}

.cycleContainer{
    width: 100%;
    position: absolute;
    top: 60%;
}

.iconRoundLeft:hover{
    background-color: darken($color: rgba(40,40,40,0.4), $amount: 25);
}

.iconRoundRight:hover{
    background-color: darken($color: rgba(40,40,40,0.4), $amount: 25);
}

.iconRoundLeft{
    transition: all 0.4s ease;
    display: inline-grid;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    background-color: rgba(40, 40, 40, 0.4);
    cursor: pointer;
    margin:2%;
}

.iconRoundRight{
    transition: all 0.4s ease;
    display: inline-grid;
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    background-color: rgba(40, 40, 40, 0.4);
    float:right;
    cursor: pointer;
    margin:2%;
}

.modal{
    position: relative;
    width: 5vw;
    height: 6vw;
    background-color: red;
}

.labelLeft{
    font-size: 1rem;
    display:inline-block;
    float:left;
}

.labelRight{
    font-size: 1rem;
    display: inline-block;
    float:right;
}

.bottomSection{
display: grid;
justify-content: center;
}

.bottomRange{
    width: 50vw;
    height: 5vh;
    margin-top: 15%;
}

.bottomButton{
    width: 25vw;
    height: 5vh;
    background-color: white;
    color: black;
    margin: auto;
    font-size: 1.4rem;
    border-radius: 100px;
    border: solid 2px #2d66Bd;
    transition: all 0.4s ease;
    margin-top: 10%;
}

.bottomButton:hover{
    border:solid 3px darken($color: #2d66Bd, $amount: 10);
    background-color:#fefefe;
}

.bottomButton:active{
    border:solid 3px lighten($color: #2d66Bd, $amount: 25);

}

.bottomButton:focus{
    outline: 0;
}

.mainLogo{
    width: 20%;
    margin: 2.5%;
}


// About
.aboutContainer{
    display: grid;
    align-content: center;
    padding:2.5%;
}

.aboutHeading{
    font-size: 3rem;
    margin: 2%;
}

.aboutContent{
    margin: 2%;
}

.aboutList{
    list-style-type: none;

    a{
        text-decoration: none;
    }
}

// Slider styling by http://danielstern.ca/range.css/#/
input[type=range] {
    -webkit-appearance: none;
    width: 50vw;
    margin-top: 10%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    background: #2862a9;
    border-radius: 24.9px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1.6px solid #2d66bd;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2d6ebe;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    background: #2862a9;
    border-radius: 24.9px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1.6px solid #2d66bd;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #235694;
    border: 0.2px solid #010101;
    border-radius: 49.8px;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #2862a9;
    border: 0.2px solid #010101;
    border-radius: 49.8px;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1.6px solid #2d66bd;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #2862a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #2d6ebe;
  }
  
//tablet css
@media screen and (max-width: 1200px) {

    .contentHeading{
        font-size: 7.2vw;
    }
}

// Mobile css
@media screen and (max-width: 600px) {
 
    .aLink{
        font-size: 1.3rem;
    }

    .aLinkLeft{
        font-size: 1.3rem;
    }

    .contentHeading{
        font-size: 3rem;
    }

    .topSection{
        h4{
            font-size: 2.3rem;
            color: white;
            margin-left: 10%;
        }
        h2{
            font-size: 5rem;
            color: white;
            margin-left: 5%;
            margin-top: 10%;
        }
    }

    input[type=range] {
        -webkit-appearance: none;
        width: 75vw;
        margin-top: 25%;    
    }

    .mainLogo{
        width: 40%;
    }

    .bottomButton{
        width: 30vw;
        height: 6vh;
        margin-top: 20%;
    }

    .cycleContainer{
        top: 60%;
    }
  }

  // Very small mobiles
  @media screen and (max-width: 340px) {
    .aLink{
        font-size: 1rem;
    }

    .aLinkLeft{
        font-size: 1rem;
    }

    
    
    .mainLogo{
        width: 35%;
    }
    .contentHeading{
        font-size: 2rem;
    }
    .topSection{
        h4{
            font-size: 2.3rem;
            color: white;
            margin-left: 10%;
        }
        h2{
            font-size: 3rem;
            color: white;
            margin-left: 5%;
        }
    }
}