@keyframes fadein {from { opacity: 0; }};
@keyframes movein {from {opacity:0; transform: translateY(150%) translateX(-50%)}};

.container{
  position: relative;
  z-index: 0;
  overflow: hidden;
};

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  animation: fadeIn 240ms ease-out;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
};

.dialog{
  animation: movein 0.45s ease alternate;
  //transition: all 0.5s ease;
  background: white;
  position: absolute;
  padding: 0.2vw;
  min-width: 50%;
  min-height: 25%;
  max-width: 75%;
  max-height: 75%;
  padding: 2.5%;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  z-index: 1;
};

.icon{
  position: absolute;
  right: 1%;
  font-size: 2vw;
  color: black;
  top: 1.5%;
  transition: all 0.3s linear;
  width:auto;
}

.icon:hover{
  color: lighten($color: black, $amount: 40);
  transform:scale(1.1);
}