@keyframes fadein {from { opacity: 0; }};
@keyframes movein {from {opacity:0; transform: translateY(150%) translateX(-50%)}};

.container{
  position: relative;
  z-index: 0;
  overflow: hidden;
};

.overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  animation: fadeIn 240ms ease-out;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
};

.dialog{
  overflow:auto;
  animation: movein 0.45s ease alternate;
  //transition: all 0.5s ease;
  background: white;
  position: absolute;
  padding: 0.2vw;
  min-width: 50%;
  min-height: 25%;
  max-width: 75%;
  max-height: 75%;
  padding: 2.5%;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  z-index: 1;
};

b{
  display:block;
  font-size: 1.5rem;
  padding-bottom: 8px;
} 

p{
  display:block;
  padding: 8px;
  font-size: 1.2rem;
}

.icon{
  position: absolute;
  right: 1%;
  font-size: 1.7rem;
  color: #444444;
  top: 0.5%;
  transition: all 0.3s linear;
  width:auto;
}

.icon:hover{
  color: lighten($color: #444444, $amount: 30);
  transform:scale(1.1);
}

@media screen and (max-width: 600px) {
  
  .dialog{
    max-width: 100%;
    min-width: 100%;
    min-height:80vh;
    top: 60%;
    padding-top: 8%;
    font-size: 1.3rem;
  }

  .icon{
    top: 1%;
    right: 1%;
  }
}